.footer {
  padding: 65px 0px 50px;
  background: $violet;

  @include lg {
    padding: 50px 0px 40px;
  }
  @include md {
    padding: 30px 0px 20px;
  }
  @include sm {
    padding: 20px 0px 10px;
  }

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include md {
    }

    @include sm {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__about {
    width: 343px;

    @include lg {
      width: 300px;
    }
    @include md {
      width: 270px;
    }
    @include sm {
      width: 100%;
    }
  }

  &__logo {
    width: 160px;

    @include lg {
      width: 140px;
    }
    @include md {
      width: 120px;
    }
    @include sm {
      width: 100px;
    }
  }

  &__text {
    @include font(500, 18px, 32px, #eeeeee);
    margin-bottom: 58px;

    @include lg {
      @include font(500, 16px, 30px, #eeeeee);
      margin-bottom: 38px;
    }
    @include md {
      @include font(500, 14px, 26px, #eeeeee);
      margin-bottom: 28px;
    }
    @include sm {
      @include font(500, 11px, 20px, #eeeeee);
      margin-bottom: 18px;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    gap: 100px;

    @include lg {
      gap: 90px;
      margin-bottom: 18px;
    }
    @include md {
      gap: 80px;
      margin-bottom: 15px;
    }
    @include sm {
      gap: 60px;
      margin-bottom: 10px;
    }

    &-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      @include md {
        gap: 10px;
      }

      @include sm {
        gap: 5px;
      }
    }

    &-link {
      @include font(500, 18px, 0px, #eeeeee);

      @include lg {
        @include font(500, 16px, 0px, #eeeeee);
      }
      @include md {
        @include font(500, 14px, 0px, #eeeeee);
      }
      @include sm {
        @include font(500, 12px, 0px, #eeeeee);
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 28px;

    @include lg {
      gap: 28px;
    }
    @include md {
      gap: 26px;
    }
    @include sm {
      gap: 15px;
    }

    &-image {
      width: 100%;
      height: 12px;
      object-fit: cover;
    }
  }

  .timedate {
    @include font(700, 18px, 32px, #eeeeee);

    @include lg {
      @include font(700, 16px, 24px, #eeeeee);
    }
    @include md {
      @include font(700, 14px, 12px, #eeeeee);
    }
    @include sm {
      text-align: center;
      @include font(700, 8px, 8px, #eeeeee);
    }
  }
}
