.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  padding: 40px 0;
  background: #f2f2f2;
  box-shadow: 0 0 20px 1px #00000099;

  @include lg {
    padding: 20px 0;
  }

  @include md {
    padding: 15px 0;
  }

  @include sm {
    padding: 10px 0;
  }

  &.show {
    .header__menu-close {
      display: block;

      // @include sm {
      //   display: none !important;
      // }
    }
    .header__menu-btn {
      display: none;
    }

    .header__menu-list {
      transform: translateX(0);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 100;
    width: 142px;
    position: relative;

    @include lg {
      width: 120px;
    }

    @include md {
      width: 100px;
    }

    @include sm {
      width: 80px;
    }
  }

  &__menu {
    gap: 70px;
    display: flex;
    align-items: center;
  }
  &__menu-list {
    display: flex;
    align-items: center;
    gap: 70px;

    @include lg {
      gap: 50px;
    }

    @include md {
      gap: 30px;
    }

    @include sm {
      gap: 15px;
      // display: none;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      position: absolute;
      padding-top: 120px;
      align-items: center;
      flex-direction: column;
      justify-content: start;
      transition: all 0.3s ease;
      transform: translateX(-100%);

      background: linear-gradient(
        180deg,
        rgba(254, 252, 247, 0.504981) 0%,
        #fefcf7 55.94%
      );
    }
  }

  &__menu-item {
    a {
      position: relative;
      text-decoration: none;
      // text-transform: uppercase;
      // transition: color 0.3s ease;
      @include font(500, 17px, 20px, $headerNavTextcolor);

      @include lg {
        @include font(500, 15px, 18px, $headerNavTextcolor);
      }

      @include md {
        @include font(500, 14px, 16px, $headerNavTextcolor);
      }

      @include sm {
        @include font(400, 12px, 14px, $headerNavTextcolor);
      }


      &::before {
        left: 50%;
        width: 0%;
        content: "";
        height: 2px;
        bottom: -5px;
        position: absolute;
        border-radius: 3px;
        background-color: $blue;
        transition: width 0.3s ease;
        transform: translateX(-50%);
      }
    }

    &:hover {
      a {
        &::before {
          width: 100%;
        }
      }
    }

    &.active a {
      color: $blue;
      &::before {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        background-color: $blue;
        border-radius: 3px;
      }
    }
  }

  &__button {
    @include sm {
      display: none;
    }
  }

  &__menu-btn {
    display: none;

    // position: relative;
    // width: 24px;
    // height: 2px;
    // background-color: #000000;

    @include sm {
      display: block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #000000;
    }

    &::after {
      top: -6px;
    }

    &::before {
      bottom: -6px;
    }
  }

  &__menu-close {
    display: none;
    z-index: 100;
    position: relative;


  }
}
