.mb-1 {
  margin-bottom: 10px;

  @include lg {
    margin-bottom: 8px;
  }

  @include md {
    margin-bottom: 6px;
  }
  @include sm {
    margin-bottom: 4px;
  }

  @include xs {
    margin-bottom: 2px;
  }
}

.mb-2 {
  margin-bottom: 25px;

  @include lg {
    margin-bottom: 20px;
  }

  @include md {
    margin-bottom: 15px;
  }
  @include sm {
    margin-bottom: 10px;
  }

  @include xs {
    margin-bottom: 5px;
  }
}

.mb-3 {
  margin-bottom: 100px;

  @include lg {
    margin-bottom: 80px;
  }

  @include md {
    margin-bottom: 60px;
  }
  @include sm {
    margin-bottom: 40px;
  }

  @include xs {
    margin-bottom: 20px;
  }
}

.title {
  letter-spacing: -0.4625px;
  @include font(700, 37px, 54px, $headerNavTextcolor);

  @include lg {
    letter-spacing: -0.4625px;
    @include font(700, 32px, 48px, $headerNavTextcolor);
  }

  @include md {
    letter-spacing: -0.4625px;
    @include font(700, 28px, 32px, $headerNavTextcolor);
  }

  @include sm {
    letter-spacing: -0.4625px;
    @include font(700, 26px, 30px, $headerNavTextcolor);
  }

  @include xs {
    letter-spacing: -0.4625px;
    @include font(700, 17px, 24px, $headerNavTextcolor);
  }
}

.text {
  @include font(500, 22px, 38px, $globalTextColor);

  @include lg {
    @include font(500, 20px, 36px, $globalTextColor);
  }

  @include md {
    @include font(500, 18px, 30px, $globalTextColor);
  }

  @include sm {
    @include font(500, 16px, 24px, $globalTextColor);
  }

  @include xs {
    @include font(500, 14px, 22px, $globalTextColor);
  }
}

// Yomon bu ko'rinishdan foydalanmagan maqul
.webkit-box {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

.webkit-three-box {
  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

// Bu siklda aylantirib yasavorsa boladi

@for $var from 1 to 10 {
  .webkit-#{$var} {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: $var !important;
    -webkit-box-orient: vertical !important;
  }
}

@for $var from 1 to 101 {
  .width-#{$var} {
    width: #{$var}+"%";
  }
}

@mixin sliceText($number) {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: $number !important;
  -webkit-box-orient: vertical !important;
}

.convert {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
}

.d-flex {
  gap: 35px;
  display: flex;
  flex-direction: column;
}
