.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 25px;

  @include lg {
    margin-bottom: 24px;
  }

  @include md {
    margin-bottom: 16px;
  }
  @include sm {
    margin-bottom: 8px;
  }
}

.mb-3 {
  margin-bottom: 100px;

  @include lg {
    margin-bottom: 60px;
  }

  @include md {
    margin-bottom: 20px;
  }
  @include sm {
    margin-bottom: 10px;
  }
}

.title {
  letter-spacing: -0.4625px;
  @include font(700, 37px, 54px, $headerNavTextcolor);

  @include lg {
    letter-spacing: -0.4625px;
    @include font(700, 32px, 48px, $headerNavTextcolor);
  }

  @include md {
    letter-spacing: -0.4625px;
    @include font(700, 28px, 32px, $headerNavTextcolor);
  }

  @include sm {
    letter-spacing: -0.4625px;
    @include font(700, 20px, 20px, $headerNavTextcolor);
  }
}

.text {
  @include font(500, 22px, 38px, $globalTextColor);

  @include lg {
    @include font(500, 20px, 36px, $globalTextColor);
  }

  @include md {
    @include font(500, 18px, 30px, $globalTextColor);
  }

  @include sm {
    @include font(500, 14px, 20px, $globalTextColor);
  }
}

// Yomon bu ko'rinishdan foydalanmagan maqul
.webkit-box {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

.webkit-three-box {
  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

// Bu siklda aylantirib yasavorsa boladi

@for $var from 1 to 10 {
  .webkit-#{$var} {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: $var !important;
    -webkit-box-orient: vertical !important;
  }
}

@for $var from 1 to 101 {
  .width-#{$var} {
    width: #{$var}+ "%";
  }
}


.d-flex {
  display: flex;
}
