.countries {
  padding: 80px 0px;
  background: $slider-bg-color;

  @include lg {
    padding: 60px 0px;
  }
  @include md {
    padding: 40px 0px;
  }
  @include sm {
    padding: 20px 0px;
  }


  &__text {
    margin-bottom: 75px;



    @include lg {
      margin-bottom: 40px;
    }
    @include md {
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 10px;
    }
  }

  &__card {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 45px;

      @include lg {
        gap: 28px;
      }
      @include md {
        gap: 24px;
      }
      @include sm {
        gap: 20px;
      }
    }

    &-img{
      width: 348px;
      height: 215px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 15px;


      @include lg {
        width: 324px;
      height: 200px;
      }
      @include md {
        width: 260px;
      height: 180px;
      }
      @include sm {
        width: 100%;
      height: 160px;
      }

    }



    &-title {
      margin-bottom: 10px;
      @include font(900, 25px, 29px, #37474f);



      @include lg {
        margin-bottom: 10px;
        @include font(900, 20px, 20px, #37474f);
      }

      @include md {
        margin-bottom: 10px;
        @include font(900, 18px, 16px, #37474f);
      }

      @include sm {
        margin-bottom: 10px;
        @include font(900, 16px, 16px, #37474f);
      }
    }

    &-text {
      @include font(500, 16px, 27px, rgba(55, 71, 79, 0.721569));


      @include lg {
        @include font(500, 16px, 25px, rgba(55, 71, 79, 0.721569));
      }
      @include md {
        @include font(500, 15px, 24px, rgba(55, 71, 79, 0.721569));
      }
      @include sm {
        @include font(500, 12px, 16px, rgba(55, 71, 79, 0.721569));
      }
    }
  }
}
