.hero {
  padding-top: 100px;
  background-color: $header-bg-color;
  overflow: hidden;
  position: relative;

  @include lg {
    padding-top: 30px;
  }

  @include md {
    padding-top: 20px;
  }
  @include sm {
    padding-top: 10px;
  }


  &__bg {
    right: 0;
    bottom: -10%;
    width: 800px;
    height: 600px;
    position: absolute;
    transform: translateX(50%);

    @include lg {
      right: 0;
      bottom: -20%;
      width: 700px;
      height: 525px;
    }

    @include md {
      right: -80px;
      bottom: -40%;
      width: 700px;
      height: 500px;
    }

    @include sm {
      display: none;
    }

  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    @include md {
      flex-direction: column;
      text-align: center;
    }
    @include sm {
      flex-direction: column;
      text-align: left;
    }
  }

  &__info {
    width: 633px;

    @include lg {
      width: 550px;
    }

    @include md {
      width: 100%;

    }



  }

  &__title {
    @include font(900, 56px, 66px, $heroTitleColor);
    margin-bottom: 55px;

    @include lg {
      @include font(900, 48px, 56px, $heroTitleColor);
      margin-bottom: 48px;
    }

    @include md {
      @include font(900, 40px, 48px, $heroTitleColor);
      margin-bottom: 24px;
    }

    @include sm {
      @include font(700, 24px, 32px, $heroTitleColor);
      margin-bottom: 8px;
    }
  }

  &__description {
    @include font(500, 22px, 38px, $textColor: $globalTextColor);
    margin-bottom: 42px;

    @include lg {
      @include font(500, 20px, 40px);
      margin-bottom: 42px;
    }

    @include md {
      @include font(500, 12px, 24px);
      margin-bottom: 24px;
    }
    @include sm {
      @include font(500, 14px, 24px);
      margin-bottom: 16px;
    }
  }

  &__btn {
    margin-bottom: 100px;

    @include lg {
      margin-bottom: 80px;
    }


    @include md {
      margin-bottom: 40px;
    }
    @include sm {
      margin-bottom: 20px;
    }
  }

  &__social {
    gap: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;

    @include lg {
      gap: 14px;
      padding-bottom: 45px;
    }

      @include md {
        gap: 12px;
        padding-bottom: 25px;
        justify-content: center;
      }

      @include sm {
        gap: 8px;
        padding-bottom: 10px;
      }

      &-logo {
        width: 20px;
        height: 20px;
        object-fit: cover;

        @include md {
          width: 16px;
          height: 16px;
          object-fit: cover;
        }

        @include sm {
          width: 12px;
          height: 12px;
          object-fit: cover;
        }

      }
    }


    &__banner {
      right: 0;
      bottom: 0;
      width: 470px;
      z-index: 1000;
      position: absolute;

      @include lg {
        width: 380px;
      }

      @include md {
        width: 280px;
      }

      @include sm {
        display: none;
      }
    }
  }

