.ready {
  padding: 82px 0px 74px;
  background: $slider-bg-color;


  @include lg {
    padding: 64px 0px 64px;
  }
  @include md {
    padding: 30px 0px 30px;
  }
  @include sm {
    padding: 20px 0px 20px;
  }

  &__wrap {
    display: flex;
    justify-content:space-around;



    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 18px;

    }
  }

  &__title {
    @include font(700, 37px, 43px, #252525);

    @include lg {
      @include font(700, 34px, 40px, #252525);
    }
    @include md {
      @include font(700, 27px, 28px, #252525);
    }
    @include sm {
      @include font(700, 22px, 24px, #252525);
    }
    @include xs {
      @include font(500, 16px, 20px, #252525);
    }
  }
}
