.our__services {
  padding: 120px 0px;

  @include lg {
    padding: 100px 0px;
  }
  @include md {
    padding: 90px 0px;
  }
  @include sm {
    padding: 70px 0px;
  }
  @include xs {
    padding: 50px 0px;
  }

  &-text {
    margin-bottom: 110px;

    @include lg {
      margin-bottom: 90px;
    }
    @include md {
      margin-bottom: 70px;
    }
    @include sm {
      margin-bottom: 50px;
    }
    @include xs {
      margin-bottom: 30px;
    }
  }

  .services__card {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;

      @include lg {
        gap: 40px;
      }
      @include md {
        gap: 32px;
      }
      @include sm {
        gap: 24px;
      }
      @include xs {
        gap: 16px;
      }
    }

    &-item {
      word-break: break-all;
    }

    &-img {
      width: 76px;
      height: 76px;
      // background-color: ;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 38px;

      @include lg {
        width: 60px;
        height: 60px;
      }
      @include md {
        width: 40px;
        height: 40px;
      }
      @include sm {
        width: 30px;
        height: 30px;
      }
      @include xs {
        width: 30px;
        height:30px;
      }

      img {
        width: 37px;
        height: 37px;

        @include lg {
          width: 32px;
          height: 32px;
        }
        @include md {
          width: 24px;
          height: 24px;
        }
        @include sm {
          width: 20px;
          height: 20px;
        }
        @include xs {
          width: 16px;
          height: 16px;
        }
      }
    }

    &-title {
      @include font(700, 24px, 37px, #37474f);
      margin-bottom: 10px;

      @include lg {
        @include font(700, 24px, 37px, #37474f);
        margin-bottom: 10px;
      }
      @include md {
        @include font(700, 24px, 37px, #37474f);
        margin-bottom: 10px;
      }
      @include sm {
        @include font(700, 16px, 16px, #37474f);
        margin-bottom: 8px;
      }
      @include xs {
        @include font(700, 16px, 16px, #37474f);
        margin-bottom: 8px;
      }
    }

    &-text {
      @include font(500, 16px, 28px, #33474fb8);

      @include lg {
        @include font(500, 16px, 28px, #33474fb8);
      }
      @include md {
        @include font(500, 16px, 28px, #33474fb8);
      }
      @include sm {
        @include font(500, 12px, 18px, #33474fb8);
      }
      @include xs {
        @include font(500, 16px, 28px, #33474fb8);
      }
    }
  }
}
