.slider {
  padding: 55px 0px;
  background-color: $slider-bg-color;

  @include lg {
    padding: 20px 0;
  }

  @include md {
    padding: 15px 0;
  }

  @include sm {
    padding: 10px 0;
  }

  &__title {
    opacity: 0.73;
    text-align: center;
    margin-bottom: 85px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    @include font(500, 23px, 27px, $headerNavTextcolor);

    @include lg {
      margin-bottom: 40px;
      @include font(500, 22px, 24px, $headerNavTextcolor);
    }

    @include md {
      margin-bottom: 30px;
      @include font(500, 16px, 20px, $headerNavTextcolor);
    }

    @include sm {
      margin-bottom: 20px;
      @include font(500, 14px, 16px, $headerNavTextcolor);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    justify-content: space-between;
    gap: 75px;
  }

  &__img {
    width: 250px;
    gap: 75px;

    @include lg {
      width: 280px;
      gap: 50px;
    }
    @include md {
      width: 180px;
      gap: 40px;
    }
    @include sm {
      width: 150px;
      gap: 30px;
    }
  }

  &__navigation {
    padding-top: 86px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include lg {
      gap: 15px;
    }
    @include md {
      gap: 10px;
    }
    @include sm {
      gap: 5px;
    }
    .swiper-pagination-bullet {
      border-radius: 50%;
      cursor: pointer !important;
      width: 10px;
      height: 10px;
      background-color: #979797;

      @include md {
        width: 8px;
        height: 8px;
      }
      @include sm {
        width: 4px;
        height: 4px;
      }

      &-active {
        width: 14px;
        height: 14px;
        background-color: #717cff;

        @include md {
          width: 8px;
          height: 8px;
        }
        @include sm {
          width: 4px;
          height: 4px;
        }
      }
    }
  }
}

.swiper {
  overflow: hidden;

  &-pagination {
    // bottom: -80px !important;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
