.slider {
  padding: 55px 120px;
  background-color: $slider-bg-color;
  &__title {
    @include font(500, 23px, 27px, $headerNavTextcolor);
    opacity: 0.73;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-bottom: 85px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 75px;
  }

  &__item{

  }
  &__img{
    width: 250px;
  }
}

