.testimonial {
  padding: 115px 0px;
  background: $card-bg-white;

  @include lg {
    padding: 80px 0px;
  }
  @include md {
    padding: 40px 0px;
  }
  @include sm {
    padding: 10px 0px;
  }

  &__text {
    margin-bottom: 77px;

    @include lg {
      margin-bottom: 40px;
    }
    @include md {
      margin-bottom: 30px;
    }
    @include sm {
      margin-bottom: 20px;
    }
  }

  .testimonial__card {
    &-list {
      gap: 60px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      @include lg {
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 56px;
      }

      @include md {
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 48px;
      }

      @include sm {
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 32px;
      }
    }

    &-wrap {
      gap: 28px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      @include lg {
        margin-bottom: 24px;
      }
      @include md {
        margin-bottom: 20px;
      }
      @include sm {
        margin-bottom: 18px;
      }
    }

    &-img {
      width: 62px;
      height: 62px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 11px;

      @include lg {
        width: 80px;
        height: 60px;
      }
      @include md {
        width: 70px;
        height: 50px;
      }
      @include sm {
        width: 60px;
        height: 40px;
      }
    }

    &-info {
          @include sliceNoWrap();
      .info__title {
        @include font(900, 22px, 26px, #37474f);

        @include lg {
          @include font(900, 20px, 24px, #37474f);
        }
        @include md {
          @include font(900, 18px, 22px, #37474f);
        }
        @include sm {
          @include font(900, 16px, 20px, #37474f);
        }
        @include xs {
          @include font(900, 12px, 16px, #37474f);
        }
      }

      .info__description {
        @include font(500, 18px, 21px, rgba(55, 71, 79, 0.721569));

        @include lg {
          @include font(500, 16px, 18px, rgba(55, 71, 79, 0.721569));
        }
        @include md {
          @include font(500, 14px, 16px, rgba(55, 71, 79, 0.721569));
        }
        @include sm {
          @include font(500, 12px, 14px, rgba(55, 71, 79, 0.721569));
        }
        @include xs {
          @include font(500, 10px, 12px, rgba(55, 71, 79, 0.721569));
        }
      }
    }
    &-text {
      @include font(500, 18px, 31px, rgba(55, 71, 79, 0.721569));

      @include lg {
        @include font(500, 16px, 18px, rgba(55, 71, 79, 0.721569));
      }
      @include md {
        @include font(500, 14px, 16px, rgba(55, 71, 79, 0.721569));
      }
      @include sm {
        @include font(500, 12px, 16px, rgba(55, 71, 79, 0.721569));
      }
      @include xs {
        @include font(500, 8px, 12px, rgba(55, 71, 79, 0.721569));
      }
    }
  }
}
