body {
  user-select: none;
  font-family: "Roboto", "Tahoma", serif;

  // sozlarni belgilab bolmaydigan qilish buni kerakli joyga shu kod beriladi
}

::selection {
  color: $heroTitleColor;
  background-color: $violet;
}

.wrapper {
  height: 100vh;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  justify-content: space-between;

  @include lg {
    padding-top: 90px;
  }

  @include md {
    padding-top: 60px;
  }

  @include sm {
    padding-top: 40px;
  }

  @include xs {
    padding-top: 20px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  @include md {
    width: 600px;
  }

  @include sm {
    width: 100%;
  }
}

.card {
  width: 344px;
  cursor: pointer;
  border-radius: 15px;
  background: $card-bg-white;
  padding: 30px 15px 30px 30px;
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);

  @include lg {
    width: 300px;
    padding: 24px 12px 24px 24px;
  }
  @include md {
    width: 280px;
    padding: 24px 12px 24px 24px;
  }
  @include sm {
    width: 100%;
    padding: 18px 8px 18px 18px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.news-card {
  width: 344px;
  cursor: pointer;
  border-radius: 15px;
  background: $card-bg-white;
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);

  @include lg {
    width: 300px;
  }
  @include md {
    width: 280px;
  }
  @include sm {
    width: 100%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.upcoving-card {
  width: 540px;
  padding: 30px;
  cursor: pointer;
  border-radius: 15px;
  background: $card-bg-white;
  transition: transform 0.5s ease;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);

  @include lg {
    padding: 24px;
    width: 400px;
  }
  @include md {
    padding: 20px;
    width: 300px;
  }
  @include sm {
    padding: 18px;
    width: 100%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.countries-card {
  width: 348px;
  cursor: pointer;
  border-radius: 15px;
  background: transparent;
  transition: transform 0.5s ease;

  @include lg {
    width: 400px;
    padding: 24px;
  }
  @include md {
    width: 300px;
    padding: 20px;
  }
  @include sm {
    width: 100%;
    padding: 0px;
    transform: scale(1);
  }

  &:hover {
    transform: scale(1.1);
  }
}

.testimonial-card {
  width: 500px;
  cursor: pointer;
  padding: 44px 34px;
  border-radius: 29px;
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);

  @include lg {
    width: 350px;
    padding: 40px 30px;
    border-radius: 27px;
  }
  @include md {
    width: 330px;
    padding: 36px 27px;
    border-radius: 26px;
  }
  @include sm {
    width: 100%;
    padding: 16px 16px;
    border-radius: 25px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
