.mb-1 {
  margin-bottom: 10px;
}


.mb-2 {
  margin-bottom: 25px;
}

.mb-3 {
  margin-bottom: 100px;
}

.title {
  @include font(700, 37px, 54px, $headerNavTextcolor);
  letter-spacing: -0.4625px;
}

.text {
  @include font();
}

.webkit-box {
  display: -webkit-box 1;
  -wekit__line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.convert {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
}
