$header-bg-color: #f2f2f2;
$card-bg-white: #ffffff;
$slider-bg-color: #fafafa;
$heroTitleColor: #2f2f2f;
$violet: #717cff;
$red: #ff5959;
$green: #70ce88;
$blue: #5c96ff;
$pink: #fa706c;
$headerNavTextcolor: #373737;
$globalTextColor: #7d7d7d;


$color-primary: #5c96ff;
$color-secondary: red;


$xs: 370px;
$sm: 768px;
$md: 992px;
$lg: 1200px;